@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}


.img{
    height: 80% !important;
    width: 100% !important;
    border-radius: 10px;
}
.img-cart{
    height: 100px !important;
    width: 100px !important;
    border-radius: 10px;
}

.btn-cart{
    background-color: rgb(56, 197, 150);
}